# Ignore npm package lock file
package-lock.json

# Ignore node_modules directory
node_modules/

# Ignore admin SDK files
path/to/admin-sdk.json

/sportswear-a7c5e-firebase-adminsdk-6i4zx-5e632cac5e.json